@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #854798, #680E4B);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  max-width: 600px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s;
}

h1, h2 {
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}

#listToDo {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#listToDo li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
  font-size: 18px;
}

#listToDo li:last-child {
  margin-bottom: 0;
}

button {
  background-color: #680E4B;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-left: 10px;
}

button:hover {
  background-color: #540b3d;
  box-shadow: 0 5px 15px #540b3d;
  transform: translateY(-3px);
}

#listToDo button {
  margin-left: 5px;
}

.container button {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
    border-radius: 10px;
  }

  h1, h2 {
    font-size: 20px;
  }

  #listToDo li {
    font-size: 16px;
  }

  button {
    padding: 8px 12px;
    font-size: 12px;
  }
}
